<div class="container margin">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Register</h3>
            <form #registerForm="ngForm" (ngSubmit)="submitForm()">
                <div class="form-group">
                    <label class="label">Name</label>
                    <input type="text" name="name" class="input" [(ngModel)]="name" required>
                    <div class="alert alert-danger" *ngIf="name.touched && name.invalid">Name is required</div>
                </div>
                <div class="form-group">
                    <label class="label">Email</label>
                    <input type="email" name="email" class="input" [(ngModel)]="email" required>
                    <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
                        <div *ngIf="email.errors.required">Email is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="label">Password</label>
                    <input type="password" name="password" class="input" [(ngModel)]="password" required minlength="5">
                    <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
                        <div *ngIf="password.errors.required">This field is required.</div>
                        <div *ngIf="password.errors.minlength">Enter atleast 5 characters.</div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Submit</button>


            </form>
        </div>
    </div>
</div>