<div class="container margin">
    <div class="row" *ngIf="token">
        <div class="col-md-6 offset-md-3">
            <h3>Login</h3>
            <form #loginForm (ngSubmit)="submitForm()">

                <div class="form-group">
                    <label for="title">Product Title</label>
                    <input type="text" class="form-control" name="title" [(ngModel)]="title">
                </div>
                <div class="form-group">
                    <label for="imageUrl">ImageUrl</label>
                    <input type="text" class="form-control" name="imageUrl" [(ngModel)]="imageUrl">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" name="description" [(ngModel)]="description">
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" class="form-control" name="price" [(ngModel)]="price">
                </div>

                <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Submit</button>

            </form>
        </div>
    </div>

    <div class="row" *ngIf="!token">
        <button type="button" class="button is-large is-warning center" (click)="Login()">Login</button>
    </div>
</div>
